# https://travis-ci.org/lovedboy/phone
language: python
python:
    - 2.7
    - pypy
    - 3.3
    - 3.4
    - 3.5
    - nightly
    - pypy3
    
branches:
  only:
    - master
    
script:
    - python -m unittest discover
    - python setup.py -q install
    - python ./travis/setup.py
